@charset "UTF-8";

.quadrado {
    display: inline-block;
    border: 1px solid black;
    border-radius: 5px;
    width: 300px;
    height: 300px;
}

#primeiro {
    background-color: skyblue;
}

#segundo {
    background-image: linear-gradient(to bottom, yellow, red);
}