@charset "UTF-8";

body {
    background-color: rgb(203, 203, 203);
}

#logo {
    width: 90%;
    max-width: 600px;
    margin:auto;
}

#logo img {
    width: 50px;
    height: 50px;
    padding: 10px 0px 10px 0px;
}

#principal {
    background-color: white;
    width: 90%;
    max-width: 600px;
    padding: 1px 15px 1px 15px;
    border-radius: 10px;
    margin: auto;
}

#principal h1 {
    font-family: Arial, Helvetica, sans-serif;
}

h2 {
    font-family: Arial, Helvetica, sans-serif;
}

p {
    text-align: justify;
    font-family: Arial, Helvetica, sans-serif;
}

.galaxia img {
    width: 100%;
    max-width: 700px;
    height: auto;
    size: cover;
    border-radius: 10px;
}

button {
    color: white;
    background-color: blue;
    padding: 15px;
    border-width: 0;
    border-radius: 10px;
}

button:hover {
    background-color: rgb(0, 0, 187);
}

footer {
    width: 90%;
    max-width: 600px;
    margin: auto;
}

footer a {
    color: white;
    text-decoration: none;
}

footer a:hover {
    text-decoration: underline;
}

.redes-sociais img {
    width: 30px;
    height: 30px;
    padding-right: 10px;
}