@charset "UTF-8";

body {
    background-color: grey;
    margin: 0;
}

header {
    background-image: linear-gradient(to right, purple, blue);
    margin: 0;
}

header h1 {
    color: white;
    text-align: center;
    padding: 10px;
    margin-top: 0;
}

header p {
    
}