@charset "UTF-8";

body {
    background-color: rgb(206, 130, 130);
    margin: 0;
}

#navbar {
    text-align: center;
    background-color: blue;
    margin: 0;
}

#navbar h2 {
    padding-top: 20px;
    margin-top: 0;
}

.principal {
    display: flex;
}

main {
    display: flex;
    text-align: center;
    background-color: white;
    border-width: 1px;
    border-style: solid;
    border-color: grey;
    border-radius: 10px;
    width: 50%;
    padding: 20px 20px 20px 20px;
    margin: 0px 0px 0px 32px;
}

main p {
    text-align: justify;
}

aside {
    display: flex;
    background-color: white;
    height: 50%;
    padding: 20px 20px 20px 20px;
    border-width: 1px;
    border-style: solid;
    border-color: grey;
    border-radius: 10px;
    margin: 0px 0px 0px 27px;

}